@media screen and (max-width: $mobile-size) {
  .services-panel {
    height: 230px;

    .panel__elements {
      @include display-flex(column);
      width: 100%;
      height: 116px;
      gap: 1rem;
    }
    .elements__item {
      flex: 0 0 240px;
    }
  }
}
