.button{
  min-width: fit-content;  
  @include element-font-16;
  font-weight: 200;
  background-position: center;
  background-repeat: no-repeat;
  background: transparent;
  border: none;  
  cursor: pointer;
}
.button_type--border{
  height: 40px;
  padding: 0.5rem 1rem;
  background: $background-color;
  color: $button-border-color;
}
.button_type--border--active {
  background: $white-color;
  color: $button-border-color;
  padding: 0.5rem 1rem;
  border: 2px solid $active-border-button-color;
  border-radius: 6px;
}
.button_type--circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $button-circle-background;
  transition: 0.25s;
}
.button_type--circle:hover {
  transform: scale(0.9) rotate(5deg);
  box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.5),
    0 0 15px 0px rgba(20, 20, 20, 0.5);
}
.button-arrow{
  color: $content-text-color;
}
.button-arrow::before{
  @include arrow;
  margin-top: 3px;
  margin-right: -16px;
}
.button-arrow::after{
  @include arrow;
  margin-top: 10px;
  margin-right: 16px;
}
.button-arrow--open::before{
  transition: 1s;
  transform: rotate(45deg) translate(0px,0px);
}
.button-arrow--open::after{
  transition: 1s;
  transform: rotate(45deg) translate(0px,0px);
}
/* ------------- SET ICON ---------------------- */
.up-menu__button-burger {
  background-image: url("#{$icon-path}/burger.svg");
}
.up-menu__button-call,
.mobile-menu__button-call {
  background-image: url("#{$icon-path}/call.svg");
}
.up-menu__button-chat,
.mobile-menu__button-chat {
  background-image: url("#{$icon-path}/chat.svg");
}
.up-menu__button-profile,
.mobile-menu__button-profile {
  background-image: url("#{$icon-path}/profile.svg");
}
.up-menu__button-repair {
  background-image: url("#{$icon-path}/repair.svg");
}
.up-menu__button-checkstatus {
  background-image: url("#{$icon-path}/checkstatus.svg");
}
.menu-small__button-repair {
  background-image: url("#{$icon-path}/repair.svg");
}
.menu-small__button-checkstatus {
  background-image: url("#{$icon-path}/checkstatus.svg");
}
.mobile-menu__button-close {
  background-image: url("#{$icon-path}/close.svg");
}
.mobile-menu__button-search {
  background-image: url("#{$icon-path}/search.svg");
}


.button_type_text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
  background: #FFF;
  font-weight: 500;
  z-index: 100;
}
.button_type_text:hover{
  color: #7e7e82;
  transition: 0.3s;
}
.button_type_text::after{
  position: absolute;
  content: attr(data-name);
  @include element-font-24;
  color: #82827e;
  opacity: 0;
  transition: 0.2s;
  z-index: 99;
}
.button_type_text:hover::after{
  opacity: 0.4;
  transform-origin: bottom left;
  transform: translate(20px, -25px);  
}
.button_type_text::before{
  position: absolute;
  opacity: 0;
  content:"";
  float:left;
  width: 4px;
  height: 32px;
  left: 0px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #41F6D7;
}
.button_type_text:hover::before{
  opacity: 1;
  transition: 1s;
}
.button__text {
  color: #1b1c21;
  font-weight: 500;
}
