.modal-host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba($color: $white-color, $alpha: 0.6);
  transition: left 1s, opacity 1s, background-color 2s;
  z-index: 9;

  .mobile-menu {
    @include display-flex(column);
    position: sticky;
    justify-content: space-between;
    gap: 1.5rem;
    padding-top: 1rem;
    width: 320px;
    height: 100%;
    background: $white-color;
    @include modal-shadow;

    .mobile-menu__header {
      @include display-flex(row);
      justify-content: space-around;
      align-items: center;
      background: $white-color;
      .mobile-menu__logo {
        position: relative;
        left: -35px;
      }
    }
    .mobile-menu__navigation {
      @include display-flex(column);
      justify-content: flex-start;
      align-items: flex-start;
      gap: 32px;
      margin-top: 2rem;
    }
    .mobile-menu__footer {
      @include display-flex(column);
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      padding-left: 24px;
      padding-bottom: 40px;

      .mobile-menu__footer-menu {
        @include display-flex(row);
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }
      .mobile-menu__tel {
        text-decoration: none;
        color: $content-text-color;
        @include element-font-24;
        cursor: pointer;
      }
      .mobile-menu__mail {
        @include element-font-16;
        text-decoration: none;
        color: $content-text-color;
        cursor: pointer;
      }
      .mobile-menu__lang-switcher {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
        margin-top: 40px;
      }
      .lang-switcher__radio {
        display: none;
      }
      .lang-switcher__label {
        content: attr(value);
        color: $content-text-color;
        @include element-font-16;
        cursor: pointer;
        user-select: none;
      }
      .lang-switcher__radio:checked + label {
        color: #7e7e82;
      }
    }
  }
}
.modal-host_open {
  left: 0;
  background-color: rgba($color: $white-color, $alpha: 0.6);
}

@media screen and (max-width: 1119px) {
  .modal-host {
    position: absolute;    
  }
}
@media screen and (min-width: 1120px) {
  .modal-host {
    position: static;
    float: left;
    opacity: 1;
    background-color: $white-color;
    width: 320px;
    
    .mobile-menu {
      box-shadow: none;
    }
    .mobile-menu__button-close {
      display: none;
    }
  }
}
