@mixin display-flex($direction){
  display: flex;
  flex-direction: $direction;
}
@mixin block-shadow-line{
  box-shadow: 0 3px 3px 3px $shadow-up-menu-color;
}
@mixin divider-up-menu{
  position: relative;
  content: "";
  width: 0px;
  height: 2rem;
  background-color: $divider-color;
  border: 1px solid $divider-color;
}

@mixin arrow{
  content: "";
  border-left: 2px solid $header-mark-color;
  border-top: 2px solid $header-mark-color;
  width: 5px;
  height: 5px;
  transition: rotate 1s;
  transform: rotate(-135deg);  
  float: left;  
}

@mixin this_swiper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
