//----- PATHS ----------
$font-path: "../fonts";
$icon-path: "../img/ico";

//----- SZES -----------
$root-font-size: 16px;
$page-min-width: 320px;
$page-max-width: 1120px;
$page-min-height: 1024px;

//----- COLORS ---------
$white-color: #FFFFFF;
$background-color: #F8F8F8;
$divider-color: #EAEAEA;
$button-border-color: #7E7E82;
$pagination-bullet-color: #DDDDDD;
$pagination-bullet-active-color: #B5B6BC;
$shadow-up-menu-color: #D9FFF5;
$header-mark-color: #41F6D7;
$active-border-button-color:#B8FFEC;
$content-text-color: #1B1C21;
$button-circle-background: #FF3E79;
